/* Colors
dark-blue-gray: #242933;
blue:           #4D5E7F;
gray:           #676F7F;
gold:           #7F6C40;
brown:          #332E24;
green:          #1DD81D;
white:          #FEFEFA;
*/

/* Colors
dark green:     #61892F;
light green:    #86C232;
dark gray:      #222629;
gray:           #474B4F;
light gray:     #6B6E70;
white:          #FEFEFA;
*/


/* General Styles */

/* Banner Styles */
#banner {
    height: 100vh;
    background-color: #222629;
}
#banner h2 {
    color: #86C232;
}