/* Colors
dark-blue-gray: #242933;
blue:           #4D5E7F;
gray:           #676F7F;
gold:           #7F6C40;
brown:          #332E24;
green:          #1DD81D;
white:          #FEFEFA;

*/
/* General Styles */
body {
    background-color: #FEFEFA;
}